body{
    background-image: url("https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1067&q=80");
    padding: 5px;
    font-family:"Google Sans", Roboto, Arial, sans-serif;
    background-size:cover;
    color: #e8eaed;
    font-weight:Bold;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}
.flexbox-row-1{
    border: 1px solid black;    
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
/*     background-image: url("blackjack.jpg"); */
}
.flexbox-row-2,.flexbox-row-3,.flexbox-row-4{
    border: 1px solid black;    
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    display: flex;
    

}
.flexbox-row-2{
    background-color:004a24 ;
}
.flexbox-row-2 div{
    border: 1px solid black;
    height: 350px;
    color:#ffff;
    flex:1;
}
.flexbox-row-3 div{
        border: 1px solid black;
        padding: 5px;
}
table, th,td{
    border: 1px solid black;
    padding:5px;
    color:black;
}
.flexbox-row-3 button{
    border: 1px solid black;
}
.flexbox-row-2 img{
         width: 20%;
         padding: 10px;
         
}
    
